.item1 {
    grid-area: header;
    background-color: #9acd32;
    padding: 20px;
}

.item2 {
    grid-area: nav;
    background-color: #f5f5dc;

}

.item3 {
    grid-area: article;
}

.item4 {
    grid-area: aside;
    background-color: #f5f5dc;
}

.item5 {
    grid-area: footer;
    background-color: #9acd32;
    padding: 20px;
}

.grid-container {
    display: grid;
    text-align: center;
    grid-template-rows: 50px 500px 50px;
    grid-template-areas: 'header header header header header header'
        'nav article article article article aside'
        'footer footer footer footer footer footer';
    padding: 10px;
    /* gap: 10px; */
}

hr {
    border-top: 5px solid rgb(247, 37, 37);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}